// Couleur

$gunmetal: #2B303A;
$babyBlueEyes: #92bcea;
$tan: #d3b88c;
$white: #f1f1f1;



// Fonts 

$fira : 'Fira Sans Condensed', sans-serif;
$puritan: 'Puritan', sans-serif;
$roboto: 'Roboto', sans-serif;
$bitter : 'Bitter', serif;