.titre-global {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 70px;
  padding: 0 25px 20px;
}

@media screen and (max-width: 1100px) {
  .titre-global {
    font-size: 60px;
  }
}
@media screen and (max-width: 850px) {
  .titre-global {
    font-size: 50px;
  }
}
@media screen and (max-width: 600px) {
  .titre-global {
    font-size: 30px;
    padding: 10px 5px;
  }
}
body {
  font-family: "Puritan", sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background: #2B303A;
  box-shadow: inset 0px -1px 0px #c5c5c6;
  z-index: 100;
}

.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}

.nav-icon span {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin-left: 10px;
  font-weight: 400;
  color: #f1f1f1;
}

.hamburger {
  display: none;
}

.navlinks-container a {
  margin: 0 10px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #f1f1f1;
  display: inline-block;
  position: relative;
}

.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  background: #f1f1f1;
  transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
  transform: scaleX(1);
}

.contact-nav {
  display: flex;
  align-items: center;
  color: #f1f1f1;
  margin-left: auto;
  margin-right: 25px;
}

.contact-nav p {
  margin: 0 15px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.vide {
  display: none;
}

@media (max-width: 980px) {
  nav {
    padding: 15px 0px;
    position: relative;
    width: 100%;
  }

  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .nav-icon span {
    font-size: 22px;
  }

  .main-navlinks {
    order: 1;
  }

  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    border: none;
    align-items: center;
    position: relative;
    background: #2B303A;
  }

  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background: #f1f1f1;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }

  .hamburger span:nth-child(1),
.hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }

  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }

  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: #2B303A;
    top: 100%;
    left: 0;
    height: auto;
    width: 100%;
    padding: 15px 0;
    border-right: 1px solid #c5c5c6;
    transform: translate(-100%);
  }

  .open {
    transform: translate(0%);
  }

  .navlinks-container a {
    font-size: 18px;
    margin: 10px 0;
  }

  .contact-nav {
    display: none;
  }

  .vide {
    display: block;
    width: 25px;
    order: 3;
  }
}
@media (max-width: 500px) {
  .nav-icon span {
    font-size: 20px;
  }
}
header {
  background: url("../../assets/img/headerBG.jpeg") no-repeat center;
  height: 100vh;
  min-height: -webkit-fill-available;
  background-size: cover;
  text-align: center;
  position: relative;
}

.accueil-opacite {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.247);
  display: flex;
  align-items: center;
  justify-content: center;
}

.accueil-txt-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 70px;
  padding: 100px 30px 50px;
  color: #fff;
}

.main-h1 {
  padding: 40px 30px 100px;
  font-size: 150px;
  color: #fff;
  font-family: "Bitter", serif;
  letter-spacing: 2px;
}

.scroll-btn {
  width: 90px;
  height: 90px;
  background: #2B303A;
  border-radius: 50px;
  border: 1px solid #fff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-btn i {
  font-size: 60px;
  color: #fff;
}

.cont-medias {
  position: absolute;
  right: 3%;
  bottom: 5%;
}

.media {
  margin: 20px 0;
  width: 70px;
  height: 70px;
  border: 1px solid #f1f1f1;
  background: #2B303A;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}

.media img {
  width: 35px;
}

.media:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1350px) {
  .main-h2 {
    font-size: 60px;
  }

  .main-h1 {
    font-size: 130px;
  }
}
@media screen and (max-width: 1150px) {
  .main-h2 {
    font-size: 50px;
  }

  .main-h1 {
    font-size: 120px;
    padding: 90px 30px 150px;
  }

  .media {
    margin: 15px 0;
    width: 50px;
    height: 50px;
  }

  .media img {
    width: 25px;
  }

  .scroll-btn {
    width: 70px;
    height: 70px;
  }

  .scroll-btn i {
    font-size: 45px;
  }
}
@media screen and (max-width: 900px) {
  header {
    height: 650px;
  }

  .main-h2 {
    font-size: 35px;
  }

  .main-h1 {
    font-size: 80px;
  }

  .media {
    margin: 15px 0;
    width: 50px;
    height: 50px;
  }

  .media img {
    width: 25px;
  }

  .scroll-btn {
    width: 70px;
    height: 70px;
  }

  .scroll-btn i {
    font-size: 45px;
  }
}
@media screen and (max-width: 650px) {
  .main-h2 {
    font-size: 25px;
    line-height: 40px;
  }

  .main-h1 {
    font-size: 50px;
  }
}
.accueil-infos {
  padding: 50px 20px;
  background-color: #92bcea;
  border-top: solid 1px #f1f1f1;
  border-bottom: solid 1px #f1f1f1;
}

.separation {
  margin: 0 auto 70px;
  height: 2px;
  width: 300px;
  border-radius: 3px;
  background: #000;
  border: none;
}

.infos-container {
  width: 80%;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.infos {
  font-size: 25px;
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infos i {
  margin-bottom: 20px;
  font-size: 60px;
}

.infos p {
  margin-bottom: 50px;
}

@media screen and (max-width: 950px) {
  .accueil-infos {
    padding: 50px 20px;
  }

  .separation {
    width: 200px;
  }

  .infos {
    width: 300px;
  }

  .infos i {
    font-size: 45px;
  }

  .infos-p {
    font-size: 18px;
  }
}
.presentation {
  margin: 50px 0;
  padding-top: 100px;
}

.presentation-container {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.txt-presentation {
  width: 500px;
  height: 500px;
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.presentation strong {
  color: #92bcea;
  font-weight: bolder;
}

.txt-presentation p:nth-child(1) {
  font-size: 50px;
  font-weight: lighter;
  padding: 0 0 20px 0;
}

.underline-blue {
  width: 200px;
  height: 3px;
  background: #92bcea;
  border: none;
  margin: 0;
}

.txt-presentation p:nth-child(3) {
  font-size: 30px;
  padding: 20px 0 20px;
}

.txt-presentation p:nth-child(4) {
  font-size: 30px;
  padding: 20px 0 20px;
}

.txt-presentation a {
  color: #000;
  font-size: 20px;
  padding: 20px 0;
}

.img-presentation {
  border: 1px solid #000;
  width: 500px;
  height: 500px;
  margin: 50px;
}

.img1 {
  background: url(../../assets/img/pallet1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img2 {
  background: url(../../assets/img/pallet2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img3 {
  background: url(../../assets/img/pallet3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1300px) {
  .presentation-container {
    width: 90%;
  }

  .txt-presentation {
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .presentation-container {
    margin-bottom: 100px;
  }

  .txt-presentation p:nth-child(1) {
    font-size: 35px;
  }

  .img-presentation {
    margin: 5px;
  }

  .txt-box-galerie {
    margin: 5px;
  }
}
/* ------------ Section Parallax ------------- */
.parallax {
  background-image: url(../../assets/img/palette-parallax.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallerie-photos {
  width: 100%;
  margin: 0 auto;
}

.slider {
  width: 100%;
  height: 600px;
  min-height: 300px;
  margin: 0 auto 20px;
  display: flex;
}

.galerie-photos h2 {
  padding: 100px 25px 20px;
}

.container-slides {
  width: 100%;
  max-width: 1100px;
  min-width: 300px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.container-slides img {
  position: absolute;
  top: 0px;
  opacity: 0;
  width: 100%;
  height: 600px;
  object-fit: contain;
  display: block;
  transition: opacity 0.6s ease-in-out;
}

img.active {
  opacity: 1;
}

.cont-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.btn-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #f1f1f1;
  background: #2B303A;
  border: 1px solid #fff;
  font-size: 25px;
}

@media screen and (max-width: 750px) {
  .slider {
    height: 550px;
  }

  .container-slides img {
    height: 550px;
  }

  .galerie-photos .separation {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 650px) {
  .slider {
    height: 500px;
  }

  .container-slides img {
    height: 500px;
  }
}
@media screen and (max-width: 550px) {
  .slider {
    height: 450px;
  }

  .container-slides img {
    height: 450px;
  }

  .galerie-photos .separation {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 450px) {
  .slider {
    height: 400px;
  }

  .container-slides img {
    height: 400px;
  }

  .galerie-photos .separation {
    margin-bottom: 30px;
  }
}
.trois-contacts-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trois-contacts {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.box {
  width: 200px;
  text-align: center;
}

.box span {
  font-size: 22px;
  line-height: 25px;
}

.box img {
  display: block;
  margin: 0 auto 20px;
  width: 70px;
}

.contacts-infos {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.contacts-plan iframe {
  width: 100%;
  height: 100%;
}

.contacts-horaires {
  background: #92bcea;
  border-left: 1px solid #f1f1f1;
}

.contacts-horaires h3 {
  font-size: 30px;
  padding: 40px 20px 20px;
  text-align: center;
}

.contacts-horaires-container {
  padding: 25px;
  display: flex;
  justify-content: space-around;
}

.contacts-horaires-container p {
  font-size: 22px;
  padding-bottom: 10px;
}

@media screen and (max-width: 1150px) {
  .contacts-infos {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 900px) {
  .titre-contact {
    margin: 30px 0 20px;
    font-size: 40px;
  }

  .contact-sous-titre {
    margin: 0 20px 20px;
    font-size: 16px;
  }

  .trois-contacts {
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: space-between;
  }

  .box {
    margin: 20px 0;
  }

  .box img {
    width: 50px;
  }

  .contacts-infos {
    display: block;
  }

  .contacts-plan iframe {
    height: 300px;
  }
}
@media screen and (max-width: 450px) {
  .contacts-horaires h3 {
    font-size: 25px;
  }

  .contacts-horaires-container p {
    font-size: 17px;
  }
}
footer {
  background: #2B303A;
  border-top: 1px solid #f1f1f1;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
