.titre-global {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 70px;
  padding: 0 25px 20px;
}

body {
  font-family: "Puritan", sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background: #2B303A;
  box-shadow: inset 0px -1px 0px #c5c5c6;
  z-index: 100;
}

.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}

.nav-icon span {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin-left: 10px;
  font-weight: 400;
  color: #f1f1f1;
}

.hamburger {
  display: none;
}

.navlinks-container a {
  margin: 0 10px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #f1f1f1;
  display: inline-block;
  position: relative;
}

.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  background: #f1f1f1;
  transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
  transform: scaleX(1);
}

.contact-nav {
  display: flex;
  align-items: center;
  color: #f1f1f1;
  margin-left: auto;
  margin-right: 25px;
}

.contact-nav p {
  margin: 0 15px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.vide {
  display: none;
}

@media (max-width: 950px) {
  nav {
    padding: 15px 20px;
    position: relative;
    width: 100vw;
  }

  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .nav-icon span {
    font-size: 22px;
  }

  .main-navlinks {
    order: 1;
  }

  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    border: none;
    align-items: center;
    position: relative;
    background: #2B303A;
  }

  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background: #f1f1f1;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }

  .hamburger span:nth-child(1),
.hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }

  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }

  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: #2B303A;
    top: 100%;
    left: 0;
    height: auto;
    width: 100%;
    padding: 15px 0;
    border-right: 1px solid #c5c5c6;
    transform: translate(-100%);
  }

  .open {
    transform: translate(0%);
  }

  .navlinks-container a {
    font-size: 18px;
    margin: 10px 0;
  }

  .contact-nav {
    display: none;
  }

  .vide {
    display: block;
    width: 25px;
    order: 3;
  }
}
@media (max-width: 500px) {
  .nav-icon span {
    font-size: 20px;
  }
}
header {
  background: url("../../assets/img/headerBG.jpeg") no-repeat center;
  height: 100vh;
  background-size: cover;
  text-align: center;
  position: relative;
}

.accueil-opacite {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.247);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.accueil-txt-container {
  width: 90%;
  max-width: 1300px;
  min-width: 300px;
}

.titre-global {
  color: #fff;
  padding: 80px 0 30px;
}

.main-h1 {
  padding: 30px 0 100px;
  font-size: 150px;
  color: #fff;
  font-family: "Bitter", serif;
  letter-spacing: 2px;
}

.accueil-infos {
  width: 700px;
  height: 300px;
  padding: 25px auto;
  background: #92bcea;
  display: flex;
  border-radius: 5px;
}

.scroll-btn {
  width: 90px;
  height: 90px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background: #2B303A;
  border-radius: 50px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-btn i {
  font-size: 60px;
  color: #fff;
}

.cont-medias {
  position: absolute;
  right: 3%;
  top: 75%;
}

.media {
  margin: 20px 0;
  width: 70px;
  height: 70px;
  border: 1px solid #f1f1f1;
  background: #2B303A;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}

.media img {
  width: 35px;
}

.media:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
